In [6]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('combustion.csv',index_col=0)

In [8]:
df.head()

,fuel,Pc,eps,MR,PcOvPe,subar,Tc,Tt,Te,Isp,gamma
0,C2H5OH,5.0,NaN,0.75,0.493583,1.0,1016.60809,968.423233,1085.70914,0.0,0.0
1,C2H5OH,5.0,NaN,0.75,0.493583,1.5,1016.60809,968.423233,1085.70914,0.0,0.0
2,C2H5OH,5.0,NaN,0.75,0.493583,2.0,1016.60809,968.423233,1085.70914,0.0,0.0
3,C2H5OH,5.0,NaN,0.75,0.493583,2.5,1016.60809,968.423233,1085.70914,0.0,0.0
4,C2H5OH,5.0,NaN,0.75,0.493583,3.0,1016.60809,968.423233,1085.70914,0.0,0.0

In [9]:
df = df.dropna()

In [10]:
df.sort_values('Isp',ascending=False)

,fuel,Pc,eps,MR,PcOvPe,subar,Tc,Tt,Te,Isp,gamma
42751,methane,10.5,2.469921,7.25,1.036525,1.5,3164.004217,2961.225424,2231.812708,259.053503,1.226995
42759,methane,10.5,2.469921,7.25,1.036525,5.5,3164.004217,2961.225424,2231.812708,259.053503,1.226995
42753,methane,10.5,2.469921,7.25,1.036525,2.5,3164.004217,2961.225424,2231.812708,259.053503,1.226995
42754,methane,10.5,2.469921,7.25,1.036525,3.0,3164.004217,2961.225424,2231.812708,259.053503,1.226995
42755,methane,10.5,2.469921,7.25,1.036525,3.5,3164.004217,2961.225424,2231.812708,259.053503,1.226995
...,...,...,...,...,...,...,...,...,...,...,...
13054,C2H5OH,17.5,1.000007,0.75,1.727542,3.0,1087.181918,1032.411498,1032.099133,138.241725,1.136865
13053,C2H5OH,17.5,1.000007,0.75,1.727542,2.5,1087.181918,1032.411498,1032.099133,138.241725,1.136865
13052,C2H5OH,17.5,1.000007,0.75,1.727542,2.0,1087.181918,1032.411498,1032.099133,138.241725,1.136865
13051,C2H5OH,17.5,1.000007,0.75,1.727542,1.5,1087.181918,1032.411498,1032.099133,138.241725,1.136865
13067,C2H5OH,17.5,1.000007,0.75,1.727542,9.5,1087.181918,1032.411498,1032.099133,138.241725,1.136865